PROJECT_NAME = YesCord
SECRET_KEY = yes
GATEWAY_SECRET_KEY = yes 

# Database
MYSQL_SERVER = localhost
MYSQL_USER = yescord
MYSQL_PASSWORD = thepassword
MYSQL_DB = yescord

# Snowflake
SNOWFLAKE_SERVICE = http://localhost:9000

# Consul
CONSUL_HOST = 127.0.0.1
CONSUL_PORT = 8600 # DNS port

# Kafka
KAFKA_URI = localhost:9092